#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

USDIR=$(CURDIR)/debian/texworks/usr/share
PLIDIR=plugins-src/TWLuaPlugin
PLIPYT=plugins-src/TWPythonPlugin

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	patch -p0 < ./debian/patch-luatex
#	qmake-qt4 

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp  
	dh_testdir

	# Add here commands to compile the package.
	# Lua plugin
	cd $(PLIDIR) && qmake-qt4 -after \
	'QMAKE_CXXFLAGS -= -DTW_BUILD_ID=personal -DTW_HELPPATH=\\\"/usr/local/share/texworks-help\\\" -DTW_PLUGINPATH=\\\"/usr/local/lib/texworks\\\"' \
	'QMAKE_CXXFLAGS += -DTW_BUILD_ID=Debian -DTW_HELPPATH=\\\"/usr/share/texworks-help\\\" -DTW_PLUGINPATH=\\\"/usr/lib/texworks\\\"' \
	'target.path = /usr/lib/texworks' \
	&& $(MAKE)
	# Python plugin
	cd $(PLIPYT) && qmake-qt4 -after \
	'QMAKE_CXXFLAGS -= -DTW_BUILD_ID=personal -DTW_HELPPATH=\\\"/usr/local/share/texworks-help\\\" -DTW_PLUGINPATH=\\\"/usr/local/lib/texworks\\\"' \
	'QMAKE_CXXFLAGS += -DTW_BUILD_ID=Debian -DTW_HELPPATH=\\\"/usr/share/texworks-help\\\" -DTW_PLUGINPATH=\\\"/usr/lib/texworks\\\"' \
	'target.path = /usr/lib/texworks' \
	&& $(MAKE)
	qmake-qt4 \
	'INSTALL_PREFIX = /usr' \
	-after \
	'QMAKE_CXXFLAGS -= -DTW_BUILD_ID=personal -DTW_HELPPATH=\\\"/usr/local/share/texworks-help\\\" -DTW_PLUGINPATH=\\\"/usr/local/lib/texworks\\\"' \
	'QMAKE_CXXFLAGS += -DTW_BUILD_ID=Debian -DTW_HELPPATH=\\\"/usr/share/texworks-help\\\" -DTW_PLUGINPATH=\\\"/usr/lib/texworks\\\"' \
	TeXworks.pro \
	&& $(MAKE)
	#docbook-to-man debian/texworks.sgml > texworks.1

	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp 

	# Add here commands to clean up after the build process.
	if [ -f Makefile ]; then $(MAKE) clean; fi
	rm -f ./texworks ./Makefile src/DefaultBinaryPaths.h
	if [ -d moc ]; then rmdir moc; fi
	if [ -d obj ]; then rmdir obj; fi
	if [ -d rcc ]; then rmdir rcc; fi
	if [ -d ui ]; then rmdir ui; fi
	if [ -f $(PLIDIR)/Makefile ]; then cd $(PLIDIR) && $(MAKE) clean; fi
	if [ -d $(PLIDIR)/moc ]; then rmdir $(PLIDIR)/moc; fi
	if [ -d $(PLIDIR)/obj ]; then rmdir $(PLIDIR)/obj; fi
	if [ -d $(PLIDIR)/rcc ]; then rmdir $(PLIDIR)/rcc; fi
	if [ -d $(PLIDIR)/ui ]; then rmdir $(PLIDIR)/ui; fi
	if [ -f $(PLIPYT)/Makefile ]; then cd $(PLIPYT) && $(MAKE) clean; fi
	if [ -d $(PLIPYT)/moc ]; then rmdir $(PLIPYT)/moc; fi
	if [ -d $(PLIPYT)/obj ]; then rmdir $(PLIPYT)/obj; fi
	if [ -d $(PLIPYT)/rcc ]; then rmdir $(PLIPYT)/rcc; fi
	if [ -d $(PLIPYT)/ui ]; then rmdir $(PLIPYT)/ui; fi
	patch -NRp0 < ./debian/patch-luatex || true

	rm -f $(PLIDIR)/libTWLuaPlugin.so $(PLIDIR)/Makefile
	rm -f $(PLIPYT)/libTWPythonPlugin.so $(PLIPYT)/Makefile

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_prep  
	dh_installdirs -A

	# Add here commands to install the package into debian/texworks.
	qmake-qt4 \
	'INSTALL_PREFIX = /usr' \
	-after \
	'QMAKE_CXXFLAGS -= -DTW_BUILD_ID=personal -DTW_HELPPATH=\\\"/usr/local/share/texworks-help\\\" -DTW_PLUGINPATH=\\\"/usr/local/lib/texworks\\\"' \
	'QMAKE_CXXFLAGS += -DTW_BUILD_ID=Debian -DTW_HELPPATH=\\\"/usr/share/texworks-help\\\" -DTW_PLUGINPATH=\\\"/usr/lib/texworks\\\"' \
	TeXworks.pro \
	&& $(MAKE) INSTALL_ROOT=$(CURDIR)/debian/texworks install
	# unnecessary file(lintial warning)
	rm -f $(CURDIR)/debian/texworks/usr/share/doc/texworks/COPYING*
	install -m 755 -p "$(PLIDIR)/libTWLuaPlugin.so" \
	$(CURDIR)/debian/texworks-scripting-lua/usr/lib/texworks
	install -m 755 -p "$(PLIPYT)/libTWPythonPlugin.so" \
	$(CURDIR)/debian/texworks-scripting-python/usr/lib/texworks
	# Install the manual
	rm -rf $(CURDIR)/debian/texworks/usr/share/texworks-help/en
	cp -r manual $(CURDIR)/debian/texworks-help-en/usr/share/texworks-help/TeXworks-manual

# Build architecture-independent files here.
binary-indep: install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman 
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
#%:
#	dh  $@
