[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=TeXworks
GenericName=TeXworks
Comment=TeX Editor
Exec=texworks
Icon=/usr/share/pixmaps/texworks.xpm
Terminal=false
Type=Application
StartupNotify=false
Categories=Application;Science;Utility;
OnlyShowIn=GNOME;XFCE;KDE
MimeType=application/x-latex;text/x-bibtex;text/x-tex;
